In [1]:
import pandas as pd
import numpy as np

In [2]:
interesting_variables = ['SEQN','DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 
                        'DPQ090', 'MCQ010', 'MCQ053', 'MCQ080', 'MCQ092', 'MCQ160A', 'MCQ160B', 'MCQ160C',
                        'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160G', 'MCQ160M', 'MCQ160K', 'MCQ160O', 'MCQ160L',
                        'MCQ520', 'MCQ220', 'MCQ300B', 'MCQ300C', 'MCQ300A', 'MCQ366B', 'MCQ366C', 'MCQ366D',
                        'MCQ371A', 'MCQ371B', 'MCQ371C', 'MCQ271D', 'HUQ010', 'HUQ020', 'HUQ030', 'HUQ051', 'HUQ085',
                        'HIQ011', 'HIQ270', 'ECD010', 'ECQ020', 'ECD070A', 'WHQ030E', 'DUQ200', 'DUQ210', 'DUQ211',
                        'DUQ217', 'DUQ240', 'DUQ370', 'DUQ430', 'DLQ010', 'DLQ020', 'DLQ040', 'DLQ050', 'DLQ060',
                        'DLQ080', 'DLQ100', 'DLQ110', 'DLQ130', 'DLQ140', 'DLQ150', 'DLQ170', 'DBQ700', 'DBQ197',
                        'DBQ229', 'DBD895', 'DBD900', 'DBD905', 'DBD910', 'DBQ935', 'DBQ940', 'DBQ945', 'DIQ010',
                        'DIQ160', 'DIQ170', 'DIQ172', 'DIQ050', 'HSD010', 'HSQ571', 'CDQ001', 'CDQ010', 'DPQ020',
                        'DPQ080', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMDHHSIZ', 'INDHHIN2', 'BPQ080', 'BPQ020',
                        'LBXBPB', 'LBXTHG', 'LBXBSE', 'LBXBMN', 'LBXTC', 'URXUMS', 'URXUCR']

In [3]:
import glob

join_df = pd.read_sas('data_xpt/DEMO_J.xpt')
join_df = join_df[np.intersect1d(interesting_variables, join_df.columns)]

ext="data_xpt/*.XPT"

for file_name in glob.glob(ext):
    df = pd.read_sas(file_name)
    df = df[np.intersect1d(interesting_variables, df.columns)]
    join_df = join_df.merge(df, on = 'SEQN', how = "left")
    

join_df.to_csv('data.csv')

In [4]:
join_df

,DMDHHSIZ_x,INDHHIN2_x,RIAGENDR_x,RIDAGEYR_x,RIDRETH3_x,SEQN,URXUCR,URXUMS,BPQ020,BPQ080,...,MCQ366D,MCQ371A,MCQ371B,MCQ371C,MCQ520,LBXBMN,LBXBPB,LBXBSE,LBXTHG,LBXTC
0,5.0,15.0,2.0,2.0,6.0,93703.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,15.0,1.0,2.0,3.0,93704.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.41,NaN,142.28,0.47,NaN
2,1.0,3.0,2.0,66.0,4.0,93705.0,24.0,3.2,1.0,2.0,...,2.0,1.0,1.0,1.0,2.0,8.57,2.98,185.71,1.07,157.0
3,5.0,NaN,1.0,18.0,6.0,93706.0,69.0,39.6,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,14.07,0.74,199.44,10.64,148.0
4,7.0,10.0,1.0,13.0,7.0,93707.0,209.0,41.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.60,0.39,179.34,0.20,189.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,2.0,4.0,2.0,70.0,6.0,102952.0,51.0,5.3,2.0,2.0,...,2.0,1.0,1.0,1.0,2.0,16.81,0.75,164.18,0.65,119.0
9250,1.0,12.0,1.0,42.0,1.0,102953.0,231.0,10.2,2.0,1.0,...,1.0,2.0,2.0,2.0,2.0,8.34,1.12,195.21,0.62,182.0
9251,7.0,10.0,2.0,41.0,4.0,102954.0,31.0,3.4,2.0,2.0,...,2.0,1.0,1.0,1.0,2.0,8.76,0.46,164.46,2.08,172.0
9252,4.0,9.0,2.0,14.0,4.0,102955.0,177.0,83.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.76,0.25,184.00,0.20,150.0
9253,5.0,7.0,1.0,38.0,3.0,102956.0,75.0,53.2,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,6.14,0.90,233.65,0.83,163.0